p{
    color: rgb(225, 31, 99);
}
header {
    color: aquamarine;
}
main p{
    color: rgb(7, 90, 32);
}

#maintitle {
    color: blueviolet;
}
.orange {
    color: brown;
}
.bigger {
    font-size: 17pt;
    font-weight: bold;
}
.pink {
    color: rgb(208, 126, 186);
}
#blue {
    color: rgb(102, 185, 191);
}